<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css"
          href="C:\Users\kings\Desktop\Josephine\DMACC\CIS_174_AdC#\Ch04Ex1MovieList\MovieList\wwwroot\lib\bootstrap\" />
</head>
<body>
    <div class="container">
        <header class="jumbotron">
            <h1>My Movies</h1>
        </header>
        @RenderBody()
    </div>
</body>
</html>
